
<div class="registercontainer" align="center">
    <h2>Registration Form </h2>
    <form align="center">
    <b>Email : </b><input type="email" placeholder="emial" name="email" [(ngModel)]="email">  
    <br><br>
    <b>Password : </b><input type="password" placeholder="password" name="password" [(ngModel)]="password">  
    <br><br>
    <b>Roll Number : </b><input type="number" placeholder="roll number" name="rollNo" [(ngModel)]="rollNo">
    <br><br>
    <b>Student Name : </b><input type="text" placeholder="username" name="username" [(ngModel)]="username">
    <br><br>
    <b>Percentage : </b><input type="number" placeholder="Percentage" name="percentage" [(ngModel)]="percentage">
    <br><br>
    <b>Attempts : </b><input type="number" placeholder="Attempts" name="noOfAttempts" [(ngModel)]="noOfAttempts">
    <br><br>
    <button type="submit">Submit</button>
    <!-- <b>Subjects Learning: </b><input type="text" placeholder="username" name="username" [(ngModel)]="username"> -->
</form>
</div>


